@import "tailwindcss";
:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Montserrat', sans-serif; /* Alinhado com o estilo clean da Eletrogate */
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}